/* Login.css */
body {
    font-family: Arial, sans-serif;
    background-color: #92cbad;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
  }
  
  .login-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
  }
  
  .login-form input {
    width: 92%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #199f21;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #06581c;
  }
  